.bookclub-title {
  font-family: "BTBrik-XXL", sans-serif;
  font-size: 32px;
}

.mybooks-title {
  font-family: "VTCDuBois-BoldWide", sans-serif;
  font-size: 24px;
}

.nav-spacer {
  padding: 20px;
}
